        <div class="header">
        <% if flash[:notice] %>
         <div class="notice">
            <%= flash[:notice] %>
         </div>
        <% end %>
            <% unless current_user %>
                  <%#= link_to "登陆", sessions_new_path(), class: "email"%>
                 <%= link_to sessions_new_path() do %>
                  <%= image_tag "mobile_app/avatar-1.png", alt: "缩略图", class: "avatar" %>
                 <% end -%>
               <% else %>
               <%= link_to user_path(current_user) do %>
                <%= image_tag "mobile_app/avatar.png", alt: "缩略图", class: "avatar" %>
               <% end -%>
               <% end %>
               

            <div class="header-ttl">微社区</div>
        </div>
        <div class="moments">
            <ul>
                <% @nodes.each do |node| %>
                <li>
                    <%= link_to  node_path (node) do %>
                      <%= image_tag "", alt: "缩略图" %>
                      <span><%= node.name %><br><small><%= node.topics.count %>话题</small></span>
                    <% end -%>
                </li>
                <% end %>
            </ul>
        </div>
        
        <div class="hot-activity">
            <div class="ttl"><a href="#" class="pull-right">全部活动</a><a href="#" class="pull-left">热门活动</a></div>
            <ul>
                <li><a href="#"><nobr><span class="background-red">免费试用</span>gallo甘露橄榄油申请试用gallo甘露橄榄油申请试用</nobr></a></li>
                <li><a href="#"><nobr><span class="background-yellow">菜谱征集</span>gallo甘露橄榄油申请试用</nobr></a></li>
                <li><a href="#"><nobr><span class="background-green">菜谱征集</span>gallo甘露橄榄油申请试用</nobr></a></li>
            </ul>
        </div>

<hr />

