        <style type="text/css">
          body{background:#E4DFDF}
        </style>

        <div class="header">
            <%= link_to new_topic_path( node_id: @node.id ), class: "email" do %>
              <%= image_tag "mobile_app/email.png", alt: "发送邮件" %>
            <% end -%>
            <%= link_to nodes_path(), :class=>"return" do %>
              <%= image_tag "mobile_app/return.png", alt: "后退" %>
            <% end -%>
            <div class="header-ttl"><%= @node.name %></div>
        </div>

        <ul class="nodes_topic">
          <% @node.topics.order("updated_at desc").each do |topic| %>
            <li>
              <div class="user">
                
                <%= image_tag "mobile_app/avatar.png", alt: "默认头像", class: "user_avatar pull-left" %>
                <h5><%= topic.user.try :nickname %></h5>
                <small><%= topic.updated_at.to_i %></small>
              </div>
              <%= link_to topic_path(topic) do %>  
                <span> <%= raw topic.content %></span>
              <% end -%>
              <span class="pull-right reply_count"><%= image_tag "mobile_app/reply.png", alt: "评论" %><%= topic.replies.count %></span>
            </li>
          <% end %>
        </ul>


<%= paginate @topics %>
<br />




