<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @node.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @node.order_id %>
</p>

<p>
  <strong>Topics number:</strong>
  <%= @node.topics_number %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>

<hr />
<%= paginate @topics %>

<ul>
<% @topics.each do |topic| %>
  <li>
    <%= topic.title %> <br />
    <%= topic.content %> <br />
    <%= topic.user.try :name %> <br />
    <%= topic.updated_at %>
  </li>
<% end %>
</ul>

<%= paginate @topics %>
<br />




