<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @node.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @node.order_id %>
</p>

<p>
  <strong>Topics number:</strong>
  <%= @node.topics_number %>
</p>

<%#= link_to 'Edit', edit_node_path(@node) %>
<%= link_to "发帖", new_topic_path( node_id: @node.id ) %>
|
<%= link_to 'Back', nodes_path %>

<hr />
<%= paginate @topics %>

<ul>
<% @topics.each do |topic| %>
  <li>
    <%= link_to topic.title, topic_path(topic) %> <br />
    <%= topic.content %> <br />
    <%= topic.user.try :nickname %> <br />
    <%= topic.updated_at.to_s(:date) %>
  </li>
<% end %>
</ul>

<%= paginate @topics %>
<br />




