        <div class="header">
            <%= link_to new_topic_path(), class: "email" do %>
              <%= image_tag "mobile_app/email.png", alt: "新建主题" %>
            <% end -%>
            <%= link_to node_path(@topic.node), :class=>"return" do %>
              <%= image_tag "mobile_app/return.png", alt: "后退" %>
            <% end -%>
            <div class="header-ttl"><%= @topic.content.truncate(20)%></div>
        </div>



        <div class="user" style="width:94%;">
          <%= image_tag "mobile_app/avatar.png", alt: "默认头像", class: "user_avatar pull-left" %>
          <h5><%= @topic.user.nickname %></h5>
          <small><%= @topic.updated_at.to_i %></small>

        </div>

        <div class="recipes-info-txt">
            <%= sanitize @topic.content -%>
        </div>
        
        <div class="reply_num">
          <strong><%= @topic.replies.count %></strong>&nbsp;条回复
        </div>

        <% @topic.replies.order("updated_at desc").each do |reply| %>
        <div class="topic_replies">
            <strong class="username"><%= reply.user.nickname %></strong>
            <div class="topic_replies_txt">
              <%= sanitize reply.content %>
            </div>

            <p class="topic_replies_time">
              <%= reply.updated_at.to_i %>
            </p>
        </div>
        <% end %>
<%= render "/topics/reply_form" %>






