<p id="notice"><%= notice %></p>

<p>
  <strong>标题:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @topic.content %>
</p>

<p>
  <strong>楼主:</strong>
  <%= @topic.user.nickname %>
</p>

<p>
  <strong>版块:</strong>
  <%= @topic.node.name %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to '返回版块', node_path(@topic.node) %>
<hr />
<%= paginate @replies %>
<ul>
<% @replies.each do |reply| %>
  <li>
    <strong><%= reply.user.try :nickname %></strong>
    <%= reply.content %>
  </li>
<% end %>
</ul>
<%= paginate @replies %>

<%= render "/topics/reply_form" %>


<br />  <br />  <br />  <br />
