<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @user.avatar.thumb, :title => "#{@user.nickname}"%>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to '编辑个人信息', edit_user_path(@user) %> |
<%= link_to '返回首页', nodes_path %>

<%= link_to "退出登录", logout_path %>

